{% extends 'AcquisitionBundle:Contract:base.html.twig' %}

{% block title %}{{ contract.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('contract_show', {'id': contract.id}) }}">
            {{ contract.title }}
        </a>
    </li>
    <li class="active">
        {% trans %}crmp.edit{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <h1>{{ contract.title }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>
        {{ "crmp.save"|trans }}
    </button>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash"></i>
        {{ "crmp.delete"|trans }}
    </button>
    {{ form_end(delete_form) }}
{% endblock %}
