{% extends 'AcquisitionBundle:Contract:base.html.twig' %}

{% block title %}{% trans %}Contract creation{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}New{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <h1>{% trans %}Contract creation{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>
        {{ "crmp.create"|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
