{% extends 'AcquisitionBundle:Contract:base.html.twig' %}

{% block title %}{{ contract.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ contract.title }}
    </li>
{% endblock %}

{% block related_nav %}
    <li>
        <a href="{{ path('contract_edit', { 'id': contract.id }) }}">
            <i class="fa fa-pencil"></i>
            {% trans %}Edit{% endtrans %}
        </a>
    </li>

    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ contract.title }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ contract.id }}</td>
        </tr>
        <tr>
            <th>
                {% trans %}Offer{% endtrans %}
            </th>
            <td>
                <a href="{{ path('offer_show', {id: contract.offer.id}) }}">
                    {{ contract.offer.title }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}Value{% endtrans %}</th>
            <td>{{ contract.value|price }}</td>
        </tr>
        <tr>
            <th>{% trans %}Content{% endtrans %}</th>
            <td>{{ contract.content|nl2br }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
