{% extends 'AcquisitionBundle:Contract:base.html.twig' %}

{% block title %}{{ contract.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ contract.title }}
    </li>
{% endblock %}

{% block body %}
    <h1>{{ contract.title }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>{{ "crmp.acquisition.offer.singular"|trans }}</th>
            <td>
                <a href="{{ path('offer_show', {id: contract.offer.id}) }}">
                    {{ contract.offer.title }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{{ "crmp.acquisition.contract.value"|trans }}</th>
            <td>{{ contract.value|price }}</td>
        </tr>
        <tr>
            <th>{{ "crmp.acquisition.contract.content"|trans }}</th>
            <td>{{ contract.content|nl2br }}</td>
        </tr>
        </tbody>
    </table>

    {{ crmp_panels(container.get('crmp.contract.panels')) }}
{% endblock %}
