{% extends 'CrmpAcquisitionBundle:Contract:base.html.twig' %}

{% block title %}{{ contract.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ contract.title }}
    </li>
{% endblock %}

{% block body %}
    <h1>{{ contract.title }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>{{ "crmp_acquisition.offer.singular"|trans }}</th>
            <td>
                {% if contract.offer %}
                    <a href="{{ path('crmp_acquisition_offer_show', {id: contract.offer.id}) }}">
                        {{ contract.offer.title }}
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ "crmp_acquisition.contract.value"|trans }}</th>
            <td>{{ contract.value|price }}</td>
        </tr>
        <tr>
            <th>{{ "crmp_acquisition.contract.content"|trans }}</th>
            <td>{{ contract.content|nl2br }}</td>
        </tr>
        </tbody>
    </table>

    {{ crmp_panels(crmp_crm.container.get('crmp_acquisition.contract.related_panel')) }}
{% endblock %}
