<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{% trans %}crmp_acquisition.inquiry.title{% endtrans %}</th>
        <th>{{ "crmp_crm.customer.singular"|trans }}</th>
        <th>{% trans %}crmp_acquisition.inquiry.predictedValue{% endtrans %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for inquiry in inquiries %}
        <tr>
            <td>
                <a href="{{ path('crmp_acquisition_inquiry_show', { 'id': inquiry.id }) }}">
                    {{ inquiry.title }}
                </a>
            </td>
            <td>
                {% if inquiry.customer %}
                    <a href="{{ path('crmp_crm_customer_show', {id: inquiry.customer.id}) }}"
                       title="{{ "crmp.common.show"|trans({'%name%': inquiry.customer.name}) }}">
                        {{ inquiry.customer.name }}
                    </a>
                {% endif %}
            </td>
            <td>{{ inquiry.netValue|price }}</td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('crmp_acquisition_inquiry_show', { 'id': inquiry.id }) }}"
                       class="btn btn-default">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('crmp_acquisition_inquiry_edit', { 'id': inquiry.id }) }}"
                       class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
