{% extends 'AcquisitionBundle:Inquiry:show.html.twig' %}

{% block title %}{{ inquiry.title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/">
            Dashboard
        </a>
    </li>
    <li>
        <a href="{{ path('inquiry_index') }}">
            Inquiries
        </a>
    </li>
    <li>
        <a href="{{ path('inquiry_show', {'id': inquiry.id}) }}">
            {{ inquiry.title }}
        </a>
    </li>
    <li class="active">
        {% trans %}Edit{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <h1>Inquiry edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" class="btn btn-primary"/>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: '{% trans %}date_js{% endtrans %}'
            });
        });
    </script>
{% endblock %}