{% extends '@Acquisition/Inquiry/base.html.twig' %}

{% block title %}{{ inquiry.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ inquiry.title }}
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
    <li>
        <a href="{{ path('inquiry_edit', { 'id': inquiry.id }) }}">
            <i class="fa fa-pencil"></i>
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('offer_new', {'inquiry': inquiry.id}) }}">
            <i class="fa fa-plus"></i>
            {% trans %}Offer creation{% endtrans %}
        </a>
    </li>
{% endblock %}

{% block body %}

    <h1>
        {{ inquiry.title }}
    </h1>

    <p>
        {% if inquiry.ordered %}
            <span class="label label-success">
                <i class="fa fa-check"></i>
                {% trans %}Ordered{% endtrans %}
            </span>
        {% endif %}
    </p>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ inquiry.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Customer{% endtrans %}</th>
            <td>
                <a href="{{ path('customer_show', {id: inquiry.customer.id}) }}">
                    {{ inquiry.customer.name }}
                </a>
                <a href="{{ path('inquiry_index', {customer: inquiry.customer.id}) }}"
                   class="btn btn-default btn-xs pull-right">
                    <i class="fa fa-filter"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}Inquired at{% endtrans %}</th>
            <td>{{ inquiry.inquiredAt|date('l M j, Y') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Predicted value{% endtrans %}</th>
            <td>{{ inquiry.netValue|price }}</td>
        </tr>
        <tr>
            <th>{% trans %}Content{% endtrans %}</th>
            <td>{{ inquiry.content }}</td>
        </tr>
        </tbody>
    </table>

    <h2>{% trans %}Offers{% endtrans %}</h2>

    {% include "AcquisitionBundle:Offer:_list.html.twig" with {'offers': inquiry.offers} %}

{% endblock %}
