{% extends '@Acquisition/Inquiry/base.html.twig' %}

{% block title %}{{ inquiry.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ inquiry.title }}
    </li>
{% endblock %}

{% block body %}

    <h1>
        {{ inquiry.title }}
    </h1>

    <p>
        {% if inquiry.ordered %}
            <span class="label label-success">
                <i class="fa fa-check"></i>
                {% trans %}Ordered{% endtrans %}
            </span>
        {% endif %}
    </p>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
        <tr>
            <th>{{ "crmp.crm.customer.singular"|trans }}</th>
            <td>
                {% if inquiry.customer %}
                    <a href="{{ path('customer_show', {id: inquiry.customer.id}) }}">
                        {{ inquiry.customer.name }}
                    </a>
                    <a href="{{ path('inquiry_index', {customer: inquiry.customer.id}) }}"
                       class="btn btn-default btn-xs pull-right"
                            title="{{ inquiry.customer.name }} {{ "crmp.acquisition.inquiry.list"|trans }}">
                        <i class="fa fa-filter"></i>
                    </a>
                {% else %}
                    &mdash;
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans %}Inquired at{% endtrans %}</th>
            <td>{{ inquiry.inquiredAt|date('l M j, Y') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Predicted value{% endtrans %}</th>
            <td>{{ inquiry.netValue|price }}</td>
        </tr>
        <tr>
            <th>{% trans %}Status{% endtrans %}</th>
            <td>{{ inquiry.statusLabel }}</td>
        </tr>
        <tr>
            <th>{% trans %}Content{% endtrans %}</th>
            <td>{{ inquiry.content|nl2br }}</td>
        </tr>
        </tbody>
    </table>

    <h2>
        <a href="{{ path('offer_index', {inquiry: inquiry.id}) }}">
            {% trans %}Offers{% endtrans %}
        </a>
    </h2>

    {% include "AcquisitionBundle:Offer:_list.html.twig" with {'offers': inquiry.offers} %}

{% endblock %}
