{% extends 'CrmpAcquisitionBundle:Inquiry:base.html.twig' %}

{% block title %}{{ inquiry.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ inquiry.title }}
    </li>
{% endblock %}

{% block body %}

    <h1>
        {{ inquiry.title }}
    </h1>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
        <tr>
            <th>{{ "crmp.crm.customer.singular"|trans }}</th>
            <td>
                {% if inquiry.customer %}
                    <a href="{{ path('crmp_crm_customer_show', {id: inquiry.customer.id}) }}">
                        {{ inquiry.customer.name }}
                    </a>
                    <a href="{{ path('inquiry_index', {customer: inquiry.customer.id}) }}"
                       class="btn btn-default btn-xs pull-right"
                            title="{{ inquiry.customer.name }} {{ "crmp.acquisition.inquiry.list"|trans }}">
                        <i class="fa fa-filter"></i>
                    </a>
                {% else %}
                    &mdash;
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ "crmp.acquisition.inquiry.date"|trans }}</th>
            <td>{{ inquiry.inquiredAt|date('l M j, Y') }}</td>
        </tr>
        <tr>
            <th>{{ "crmp.acquisition.inquiry.predictedValue"|trans }}</th>
            <td>{{ inquiry.netValue|price }}</td>
        </tr>
        <tr>
            <th>{{ "crmp.acquisition.inquiry.statusLabel"|trans }}</th>
            <td>{{ inquiry.statusLabel }}</td>
        </tr>
        <tr>
            <th>{{ "crmp.acquisition.inquiry.content"|trans }}</th>
            <td>{{ inquiry.content|nl2br }}</td>
        </tr>
        </tbody>
    </table>

    {{ crmp_panels(crmp_crm.container.get('crmp.inquiry.panels')) }}

{% endblock %}
