<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        crmp
        {% if block('title') %}
        - {% block title %}{% endblock %}
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css') }}"/>

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="crmp-body">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">crmp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">CRM<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('customer_index') }}">
                                {% trans %}Customer list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('address_index') }}">
                                {% trans %}Address list{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {% trans %}Acquisition{% endtrans %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('inquiry_index') }}">
                                {% trans %}Inquiry list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('offer_index') }}">
                                {% trans %}Offer list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('contract_index') }}">
                                {% trans %}Contract list{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {% trans %}Accounting{% endtrans %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('invoice_index') }}">
                                {% trans %}Invoice{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- form#search -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">ME <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile">{% trans %}Profile{% endtrans %}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/logout">{% trans %}Logout{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 crmp-related">
            <ul class="nav nav-pills nav-stacked">
                {% block related_nav %}{% endblock %}
            </ul>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div>
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                        <li>
                            <a href="/">
                                Dashboard
                            </a>
                        </li>
                    {% endblock %}
                </ol>
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>
</div>


<script src="{{  asset('js/jquery.js') }}" type="text/javascript"></script>
<script src="{{  asset('js/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{  asset('js/bootstrap.js') }}" type="text/javascript"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
