{% extends 'base.html.twig' %}

{% block title %}{{ address.name }}{% endblock %}

{% block related_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('address_index') }}">
                <i class="fa fa-list-ul"></i>
                {% trans %}Address list{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1>{{ address.name }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-floppy-o"></i>
            {% trans %}Save{% endtrans %}
        </button>
    {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
                <button class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    {% trans %}Delete{% endtrans %}
                </button>
            {{ form_end(delete_form) }}
{% endblock %}
