<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{% trans %}Title{% endtrans %}</th>
        <th>{% trans %}Price{% endtrans %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for offer in offers %}
        <tr>
            <td>
                <a href="{{ path('offer_show', { 'id': offer.id }) }}">
                    {{ offer.title }}
                    {% if (offer.ordered) %}
                        <span class="label label-success">
                            <i class="fa fa-check"></i>
                        </span>
                    {% endif %}
                </a>
            </td>
            <td>{{ offer.price|price }}</td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('offer_show', { 'id': offer.id }) }}"
                       class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('offer_edit', { 'id': offer.id }) }}"
                       class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>