{% extends 'AcquisitionBundle:Offer:base.html.twig' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block related_nav %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('offer_show', {'id': offer.id}) }}">
            {{ offer.title }}
        </a>
    </li>
    <li class="active">
        {% trans %}crmp.edit{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <h1>Offer edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="{% trans %}crmp.save{% endtrans %}" class="btn btn-primary"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input type="submit" value="{% trans %}Delete{% endtrans %}" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
