{% extends '@Acquisition/Offer/base.html.twig' %}

{% block title %}{% trans %}Offer creation{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}New{% endtrans %}
    </li>
{% endblock %}

{% block related_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('offer_index') }}">
                <i class="fa fa-list-ul"></i>
                {% trans %}Offer list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('offer_index') }}">
                <i class="fa fa-ban"></i>
                {% trans %}crmp.abort{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    <h1>
        {% trans %}Offer creation{% endtrans %}
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>
        {{ "crmp.create"|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
