{% extends 'CrmpAcquisitionBundle:Offer:base.html.twig' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ offer.title }}
    </li>
{% endblock %}

{% block body %}
    <h1>{{ offer.title }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>{{ "crmp.crm.customer.singular"|trans }}</th>
            <td>
                {% if offer.customer %}
                    <a href="{{ path('crmp_crm_customer_show', {id: offer.customer.id}) }}">
                        {{ offer.customer.name }}
                    </a>
                {% else %}
                    &mdash;
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ "crmp_acquisition.inquiry.singular"|trans }}</th>
            <td>
                {% if offer.inquiry %}
                    <a href="{{ path('crmp_acquisition_inquiry_show', {id: offer.inquiry.id}) }}">
                        {{ offer.inquiry.title }}
                    </a>
                    <a href="{{ path('crmp_acquisition_offer_index', {inquiry: offer.inquiry.id}) }}"
                       class="btn btn-default btn-xs pull-right"
                       title="{{ "crmp_acquisition.offer.related"|trans }}">
                        <i class="fa fa-filter"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ "crmp_acquisition.inquiry.statusLabel"|trans }}</th>
            <td>
                {% if offer.ordered %}
                    <span class="label label-success">
                        <i class="fa fa-check"></i>
                        {{ "crmp_acquisition.offer.ordered"|trans }}
                    </span>
                {% else %}
                    {{ offer.statusLabel|trans }}
                {% endif %}

            </td>
        </tr>
        <tr>
            <th>{{ "crmp_acquisition.offer.price"|trans }}</th>
            <td>{{ offer.price|price }}</td>
        </tr>
        <tr>
            <th>{% trans %}crmp_acquisition.offer.content{% endtrans %}</th>
            <td>{{ offer.content|nl2br }}</td>
        </tr>
        </tbody>
    </table>

    {{ crmp_panels(crmp_crm.container.get('crmp.offer.panels')) }}

{% endblock %}
