{% extends '@Acquisition/Offer/base.html.twig' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ offer.title }}
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
    <li>
        <a href="{{ path('offer_index') }}">
            <i class="fa fa-list-ul"></i>
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('offer_edit', { 'id': offer.id }) }}">
            <i class="fa fa-pencil"></i>
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('contract_new', {offer: offer.id}) }}">
            <i class="fa fa-plus"></i>
            {% trans %}Contract creation{% endtrans %}
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ offer.title }}</h1>

    <p>
        {% if offer.ordered %}
            <span class="label label-success">
                <i class="fa fa-check"></i>
                {% trans %}Ordered{% endtrans %}
            </span>
        {% endif %}
    </p>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ offer.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Price{% endtrans %}</th>
            <td>{{ offer.price|price }}</td>
        </tr>
        <tr>
            <th>{% trans %}Content{% endtrans %}</th>
            <td>{{ offer.content }}</td>
        </tr>
        <tr>
            <th>{% trans %}Inquiry{% endtrans %}</th>
            <td>
                <a href="{{ path('inquiry_show', {id: offer.inquiry.id}) }}">
                    {{ offer.inquiry.title }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>{% trans %}Contract list{% endtrans %}</h2>
    {% include 'AcquisitionBundle:Contract:_list.html.twig' with {'contracts': offer.contracts} %}
{% endblock %}
