<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>{% trans %}crmp_crm.address.name{% endtrans %}</th>
        <th>{{ "crmp_crm.customer.singular"|trans }}</th>
        <th>{% trans %}crmp_crm.address.mail{% endtrans %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
        <tr>
            <td>
                <a href="{{ path('crmp_crm_address_show', {'id': address.id}) }}">
                    {{ address.name }}
                </a>
            </td>
            <td>
                {% if address.customer %}
                    <a href="{{ path('crmp_crm_customer_show', {'id': address.customer.id }) }}">
                        {{ address.customer.name }}
                    </a>
                {% else %}
                    &mdash;
                {% endif %}
            </td>
            <td>
                <a href="mailto:{{ address.mail }}" title="{{ "crmp.mail.send"|trans }}">
                    {{ address.mail }}
                </a>
            </td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('crmp_crm_address_show', { 'id': address.id }) }}"
                            class="btn btn-default">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('crmp_crm_address_edit', { 'id': address.id }) }}"
                            class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>