<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>{% trans %}crmp.address.name{% endtrans %}</th>
        <th>{% trans %}crmp.address.mail{% endtrans %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
        <tr>
            <td>
                <a href="{{ path('address_show', {'id': address.id}) }}">
                    {{ address.name }}
                </a>
            </td>
            <td>
                <a href="mailto:{{ address.mail }}" title="{{ "crmp.mail.send"|trans }}">
                    {{ address.mail }}
                </a>
            </td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('address_show', { 'id': address.id }) }}"
                            class="btn btn-default">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('address_edit', { 'id': address.id }) }}"
                            class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>