{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block title %}{{ "crmp.crm.address.new"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "crmp.crm.address.new"|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>
        {{ "crmp.create"|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
