{% extends 'base.html.twig' %}

{% block title %}{{ address.name }}{% endblock %}

{% block related_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('address_index') }}">
                <i class="fa fa-list-ul"></i>
                {% trans %}Address list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('address_edit', {'id': address.id}) }}">
                <i class="fa fa-pencil"></i>
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1>{{ address.name }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ address.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Customer{% endtrans %}</th>
            <td>
                <a href="{{ path('customer_show', {'id': address.customer.id}) }}">
                    {{ address.customer.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>
                <a href="mailto:{{ address.mail }}" title="{% trans %}Send mail{% endtrans %}">
                    {{ address.mail }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
