{% extends 'CrmBundle:Address:base.html.twig' %}

{% block title %}{{ address.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ address.name }}
    </li>
{% endblock %}


{% block body %}
    <h1>{{ address.name }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>{{ "crmp.crm.customer.singular"|trans }}</th>
            <td>
                <a href="{{ path('customer_show', {'id': address.customer.id}) }}">
                    {{ address.customer.name }}
                </a>
                <a href="{{ path('address_index', {customer: address.customer.id}) }}"
                   class="btn btn-default btn-xs pull-right"
                        title="{{ "crmp.crm.address.related"|trans }}">
                    <i class="fa fa-filter"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>
                <a href="mailto:{{ address.mail }}" title="{{ "crmp.mail.send"|trans }}">
                    {{ address.mail }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>{% trans %}Updated at{% endtrans %}</th>
            <td>{{ address.updatedAt|date }}</td>
        </tr>
        <tr>
            <th>{% trans %}Updated by{% endtrans %}</th>
            <td>{{ address.updatedBy.username }}</td>
        </tr>
    </table>
{% endblock %}
