{% extends 'CrmBundle:Address:base.html.twig' %}

{% block title %}{{ address.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ address.name }}
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
    <li>
        <a href="{{ path('address_edit', {'id': address.id}) }}">
            <i class="fa fa-pencil"></i>
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
{% endblock %}



{% block body %}
    <h1>{{ address.name }}</h1>

    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ address.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Customer{% endtrans %}</th>
            <td>
                <a href="{{ path('customer_show', {'id': address.customer.id}) }}">
                    {{ address.customer.name }}
                </a>
                <a href="{{ path('address_index', {customer: address.customer.id}) }}"
                   class="btn btn-default btn-xs pull-right"
                        title="{% trans %}Related addresses{% endtrans %}">
                    <i class="fa fa-filter"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>
                <a href="mailto:{{ address.mail }}" title="{% trans %}Send mail{% endtrans %}">
                    {{ address.mail }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
