<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{{ "crmp.crm.customer.singular"|trans }}</th>
        <th>
            {{ "crmp.accounting.invoice.total"|trans }}
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoices %}
        <tr>
            <td>
                <a href="{{ path('crmp_crm_customer_show', {'id': invoice.customer.id}) }}">
                    {{ invoice.customer.name }}
                </a>
            </td>
            <td>
                <a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.value|price }}</a>
            </td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('invoice_show', { 'id': invoice.id }) }}"
                       title="{{ "crmp.view"|trans }}"
                       class="btn btn-default">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('invoice_edit', { 'id': invoice.id }) }}"
                       title="{% trans %}crmp.edit{% endtrans %}"
                       class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>