{% extends '@CrmpAcc/Invoice/base.html.twig' %}

{% block title %}{% trans %}Invoice creation{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
        <li class="active">
            New
        </li>
    </ol>
{% endblock %}

{% block body %}
    <h1>{% trans %}Invoice creation{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>
        {{ "crmp.create"|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
