{% extends '@CrmpAcc/Invoice/base.html.twig' %}

{% block title %}{{ invoice.value|price }} {{ invoice.customer.name }}{% endblock %}

{% block breadcrumb %}
        {{ parent() }}
        <li class="active">
            {{ invoice.value|price }} {{ invoice.customer.name }}
        </li>
{% endblock %}

{% block body %}
    <h1>{{ invoice.value|price }} {{ invoice.customer.name }}</h1>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ invoice.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Customer{% endtrans %}</th>
            <td>
                <a href="{{ path('customer_show', {id: invoice.customer.id}) }}">
                    {{ invoice.customer.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th>
                {% trans %}Value{% endtrans %}
            </th>
            <td>
                {{ invoice.value|price }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
