{% extends "::base.html.twig" %}

{% block breadcrumb %}
    <li class="active">
        {{ "crmp.user.login"|trans }}
    </li>
{% endblock %}

{% block related_nav %}
    <li>
        <a href="{{ path("fos_user_registration_register") }}">
            <i class="fa fa-plus"></i>
            {{ 'crmp.user.register'|trans }}
        </a>
    </li>
{% endblock related_nav %}


{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" class="form-horizontal" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
            {{ "crmp.user.name"|trans }}
</label>
            <div class="col-sm-3">
                <input type="text" id="username" name="_username"
                       value="{{ last_username }}" required="required" class="form-control"
                        placeholder="{{ "crmp.user.name"|trans }}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">
                {{ "crmp.user.password"|trans }}
            </label>
            <div class="col-sm-3">
                <input type="password" id="password" name="_password"
                       required="required" class="form-control"
                       placeholder="{{ "crmp.user.password"|trans }}"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-sign-in"></i>
                    {{ "crmp.user.login"|trans }}
                </button>
            </div>
        </div>
    </form>
{% endblock body %}
