{% extends 'CrmBundle::panel.html.twig' %}

{% block information %}
    {% if addresses %}
        {% include 'CrmBundle:Address:_list.html.twig' with {addresses: addresses} %}
    {% endif %}
{% endblock %}


{% block panel_footer %}
    <a href="{{ path('address_index', {customer: customer.id}) }}" class="btn btn-default"
       title="{{ "crmp.entity.related.more"|trans }}">
        <i class="fa fa-table"></i>
        <span class="hidden-xs">
            {{ "crmp.entity.related.more"|trans }}
        </span>
    </a>
    <a href="{{ path('address_new', {customer: customer.id}) }}"
       class="btn btn-success"
       title="{{ "crmp.crm.address.create"|trans }}">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">
            {{ "crmp.crm.address.create"|trans }}
        </span>
    </a>
{% endblock %}