{% extends 'CrmBundle::panel.html.twig' %}

{% block information %}
    {% if invoices %}
        {% include 'CrmpAccBundle:Invoice:_list.html.twig' with {invoices: invoices} %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if not invoices %}
        <div class="panel-body">
            {{ "crmp.empty"|trans }}
        </div>
    {% endif %}
{% endblock %}


{% block panel_footer %}
    <a href="{{ path('invoice_index', {customer: customer.id}) }}"
       class="btn btn-default"
       title="{{ "crmp.entity.related.more"|trans }}">
        <i class="fa fa-table"></i>
        <span class="hidden-xs">
            {{ "crmp.entity.related.more"|trans }}
        </span>
    </a>
    <a href="{{ path('invoice_new', {customer: customer.id}) }}"
       class="btn btn-success"
       title="{{ "crmp.accounting.invoice.new"|trans }}">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">
            {{ "crmp.accounting.invoice.new"|trans }}
        </span>
    </a>
{% endblock %}