{% extends 'CrmpCrmBundle::panel.html.twig' %}

{% block body %}
    <div class="panel-body">
        {% if panel.body %}
            {{ panel.body }}
        {% endif %}

        {% if form %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i>
                {{ "crmp.save"|trans }}
            </button>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
