{% extends 'inquiry/show.html.twig' %}

{% block related_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('inquiry_index') }}">
                <i class="fa fa-list-ul"></i>
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('inquiry_show', { 'id': inquiry.id }) }}">
                <i class="fa fa-ban"></i>
                Abort editing
            </a>
        </li>
    </ul>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{{ path('inquiry_index') }}">
                Inquiries
            </a>
        </li>
        <li>
            <a href="{{ path('inquiry_show', {'id': inquiry.id}) }}">
                {{ inquiry.title }}
            </a>
        </li>
        <li class="active">
            Edit
        </li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Inquiry edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" class="btn btn-primary"/>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
