{% extends 'base.html.twig' %}

{% block related_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('inquiry_index') }}">
                <i class="fa fa-list-ul"></i>
                List all inquiries
            </a>
        </li>
    </ul>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{{ path('inquiry_index') }}">
                Inquiries
            </a>
        </li>
        <li class="active">
            New
        </li>
    </ol>
{% endblock %}

{% block body %}
    <h1>New inquiry</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit"
                class="btn btn-primary">
            <i class="fa fa-floppy-o"></i>
            Create
        </button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: '{% trans %}date_js{% endtrans %}'
            });
        });
    </script>
{% endblock %}