{% extends 'CrmBundle::panel.html.twig' %}

{% block information %}
    {% if offers %}
        {% include 'CrmpAcquisitionBundle:Offer:_list.html.twig' with {offers: offers} %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="panel-body">
        {% if not offers %}
            {{ "crmp.acquisition.offer.empty"|trans }}
        {% endif %}
    </div>
{% endblock %}


{% block panel_footer %}
    <a href="{{ path('offer_index', {customer: customer.id}) }}"
       class="btn btn-default"
       title="{{ "crmp.entity.related.more"|trans }}">
        <i class="fa fa-table"></i>
        <span class="hidden-xs">
            {{ "crmp.entity.related.more"|trans }}
        </span>
    </a>
    <a href="{{ path('offer_new', {customer: customer.id}) }}"
       class="btn btn-success"
       title="{{ "crmp.acquisition.offer.new"|trans }}">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">
            {{ "crmp.acquisition.offer.new"|trans }}
        </span>
    </a>
{% endblock %}