{% extends 'CrmpCrmBundle::panel.html.twig' %}

{% block information %}
    {% if inquiries %}
        {% include 'CrmpAcquisitionBundle:Inquiry:_list.html.twig' with {inquiries: inquiries} %}
    {% endif %}
{% endblock %}


{% block panel_footer %}
    <a href="{{ path('crmp_acquisition_inquiry_index', {customer: customer.id}) }}"
       class="btn btn-default"
       title="{{ "crmp.entity.related.more"|trans }}">
        <i class="fa fa-table"></i>
        <span class="hidden-xs">
            {{ "crmp.entity.related.more"|trans }}
        </span>
    </a>
    <a href="{{ path('crmp_acquisition_inquiry_new', {customer: customer.id}) }}"
       class="btn btn-success"
       title="{{ "crmp_acquisition.inquiry.new"|trans }}">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">
            {{ "crmp_acquisition.inquiry.new"|trans }}
        </span>
    </a>
{% endblock %}