{% extends 'base.html.twig' %}

{% block related_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('customer_index') }}">
                <i class="fa fa-list-ul"></i>
                List all customer
            </a>
        </li>
        <li>
            <a href="{{ path('customer_show', { 'id': customer.id }) }}">
                <i class="fa fa-ban"></i>
                {% trans %}Abort{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{{ path('customer_index') }}">
                Customers
            </a>
        </li>
        <li>
            <a href="{{ path('customer_show', {'id': customer.id}) }}">
                {{ customer.name }}
            </a>
        </li>
        <li class="active">
            {% trans %}Edit{% endtrans %}
        </li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Customer edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Save" class="btn btn-primary"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
